<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      Symbook is a social networking app built using Ruby on Rails.We PostGre SQL as the database and HTML,CSS,Javascript,SASS,LESS along with embedded ruby for the front end part.
    </p>
    <br>
    <h3>Team Members</h3>
    <p>
      <dl>
	<dt>Phanindra Gattu</dt>
	<dd>--Front-End Design and Development</dd><br />
	<dt>Soumik Malas</dt>
	<dd>--Front-End Design and Development</dd><br />
	<dt>Kaparthi Sai Siddhartha</dt>
	<dd>--Creating and Handling the databases</dd><br />
	<dt>Vedant Shetty</dt>
	<dd>--Back-End Development</dd>
      </dl>
    </p>
    <br>
    <h3>External Libraries Used</h3>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is SQLite for development and Postgresql for production.
    </p>
    <ol>
	<li><strong>Front-End</strong><ul>
	<li>JQuery</li>
	<li>Bootstrap</li>
	<li>Font-Awesome</li>
	<li>Autoprefixer</li>
	<li>Counter Culture</li>
	<li>Will Paginate</li>
	<li>Friendly ID</li>
	<li>Devise</li>
	</ul><br />
	<li><strong>Database</strong><ul>
	<li>Faker</li>
	<li>Populator</li>
	<li>Auto_html</li>
	<li>Sanitize</li>
	<li>Bcrypt</li>
	<li>Fog</li>
	</ul><br />
	<li><strong>Back-End</strong><ul>
	<li>Spring</li>
	<li>Capistrano</li>
	<li>Unicorn</li>
	<li>RSpec</li>
	<li>Binding Of Caller</li>
	<li>Letter Opener</li>
	<li>Guard</li>
	<li>Carrierwave</li>
	</ul>
    </ol>
    <br>
  </div>
</div>
